#fireftp-button {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp24.png");
}

toolbar[iconsize="small"] #fireftp-button {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp16.png");
}

#fireftptoolsmenu, #fireftpcontentarea, #fireftpcontextmenu {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp16.png");
}
